.footer {
    width: 100vw;
    background-color: black;
    color: white;
    margin-top: 20px;

}

.footer > * {
    text-align: center;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
}