.text_line {
    text-decoration: line-through;
    font-size: 0.7rem;
    margin-right: 10px;
}

.container_tools {
    background-color: #000000;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.header_tools {
    margin-bottom: 1rem;
}

.cards_tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}