.container {
    width: 100vw;

    margin-top: 40px;
    background-color: whitesmoke;
}

.text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-style: italic;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza o grid horizontalmente */
    align-items: center; /* Centraliza o conteúdo dos cards verticalmente */
    width: fit-content; /* Ajusta a largura do grid ao seu conteúdo */
    margin: 0 auto; /* Centraliza o contêiner do grid na página */
}

@media (max-width:500px){
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}