.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.introduction {
    display: flex;
    flex-direction: row;
}

.image {
    border-radius: 5px 0 0 5px;
    width: 40vw;
}

.text {
    width: 40vw;
    border-radius: 0 5px 5px 0;
    padding: 5px 5px 10px 10px;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    width: 50vw;
    margin-top: 20vh;

    background-color: whitesmoke;
    border-radius: 5px;
}

@media (max-width:500px){
    .introduction {
        flex-direction: column;
    }

    .image {
        width: 60vw;
        border-radius: 5px 5px 0 0;
    }

    .text {
        width: 60vw;
        border-radius: 0 0 5px 5px;
        padding: 5px 5px 10px 10px;
    
        background-color: whitesmoke;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}